<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Safety Alert - Stay informed about your safety status and that of your friends.">
    <title>{% block title %}Safety Alert{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav role="navigation" aria-label="Main Navigation">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'pending_friend_requests' %}">Pending Requests</a></li>
                <li><a href="{% url 'search_users' %}">Search Friends</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a></li>
                <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
                </form>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% if user.is_authenticated %}
        <h2>Mark Your Safety Status</h2>
        <form id="safety-status-form" method="post" action="{% url 'update_safety_status' %}" class="safety-status-form">
            {% csrf_token %}
            <label for="is_safe">Are you safe?</label>
            <input type="radio" id="safe-yes" name="status" value="true" required>
            <label for="safe-yes" class="toggle-option">Yes</label>

            <input type="radio" id="safe-no" name="status" value="false" required>
            <label for="safe-no" class="toggle-option">No</label>

            <label for="city">Your City:</label>
            <input type="text" name="city" id="city" placeholder="Enter your city..." required>

            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">

            <div class="button-group">
                <button type="button" class="btn-primary" onclick="getLocation()">Get Current Location</button>
                <button type="submit" class="btn-primary">Submit</button>
            </div>
        </form>
        {% endif %}
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 AlertBuddy. All rights reserved.</p>
    </footer>

<script src="{% static 'js/app.js' %}">
    getLocation()
</script>
</body>
</html>
